@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(15, 148, 3);
    color: rgb(255, 255, 255);
    font-family: "Roboto",Arial, Helvetica, sans-serif ; 

}

div.divisao img {
    width: 75px;
    padding: 20px;
    transition: all 4.3ms ease;
}

div.divisao img:hover {
    scale: 1.2;
}


