@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: white;
    color: black;
    font-family: "Roboto",Arial, Helvetica, sans-serif ; 
    text-align: center;
    padding-top: 60px;
    box-sizing: border-box;
}

.conteiner {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.brasao {
    width: 30%;
}

div.divisao img {
    width: 75px;
    padding: 20px;
    transition: all 4.3ms ease;
}

div.divisao img:hover {
    scale: 1.2;
}


